body {
	font-family: "Trebuchet Ms", "Myriad Pro", sans-serif;
}

/* Header - define header width */
div#header {
	width: 960px;
}

/* Info - 1px to correct border issue in ie7 */
div#information div#info {
	width: 509px;
}

div#information div#info h2 {
	font-size: 44px;
}

/* Years Nav - diferent settings for ie7 */
div#topBar div#years ul li {
	width: 83px;
	float: left;
}

div#topBar div#years ul li.lastYear {
	border-right: 0 none #3d3d3d;
}

/* sidebar Nav settings - changes to correct minor issue */

div#sidebar ul#sidebarNav {
	left: 50%;
	margin-left: 35px;
}